// ログイン
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

.section1 {
  max-width: 1000px;
  margin: 200px auto;

  .userform {
    border: 1px solid;
    width: 60%;
    margin: 32px auto;
    padding: 60px;
    text-align: center;

    .title-signup {
      color: #888;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 0.2em;
      font-size: 40px;
    }
  }

  .form {
    &__field {
      margin: 45px 15px 25px;

      .input-text {
        width: 100%;
        border-width: 0 0 2px 0;
        border-color: #888;
        outline: none;

      }

      .label {
        font-family: Lusitana, serif;
        font-size: 25px;
        color: #888;
      }

      .text-area {
        height: 100px;
        margin-bottom: 10px;
      }

      .submit-btn {
        display: inline-block;
        background-color: rgb(86, 86, 86);
        color: #fff;
        font-family: Raleway, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        line-height: 24px;
        padding: 10px 30px;
        border: none;
        cursor: pointer;
        margin: 40px 0;
        width: 100%;

        &:hover {
          background-color: #fff;
          color: rgb(56, 56, 56);
          box-shadow: 0 4px 24px rgb(54, 54, 54);
        }
      }
    }
  }
}


.far {
  cursor: pointer;
}