// 投稿一覧
.icon {
  font-size: 30px;
}

.section {
  max-width: 700px;
  margin: 200px auto;
  text-align: center;

  .cards {
    .card {
      border: 1px solid #808080;
      flex: auto;
      height: 1000px;
      box-shadow: 0 1px 5px 2px #6d6d6d;
      margin-bottom: 30px;

      &__Contributor {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(211, 211, 211);

        &__phot {
          margin: 10px 20px 0 40px;

          .userimage {
            border: 1px groove #919191;
            border-radius: 50%;
            width: 60px;
            height: 60px;
          }
        }

        &__name {
          font-family: "Courier New", Courier, monospace;
          color: #555555;
          font-size: 25px;
        }
      }

      &__image {
        width: 100%;
        height: 700px;
        margin: 0 auto;

        .post2-imgsize {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &__title {
        text-align: center;
        font-size: 25px;

        span {
          border-bottom: 1px solid #ccc;
          padding: 7px 23px;
        }
      }

      &__body {
        font-size: 14px;
        text-align: center;
        height: 14%;
        overflow: scroll;
        border-bottom: 1px solid #ccc;
      }

      &__reactions {
        .reaction {
          font-size: 20px;
          display: flex;
          justify-content: flex-end;
          margin: 10px 30px;

          li {
            list-style: none;
            margin-left: 20px;

            i {
              color: #8f8f8f;
            }

            time {
              color: #8f8f8f;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

.post-imgsize {
  height: 100%;
  width: 100%;
  object-fit: contain;

}

// 新規投稿
.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  .post-form {
    width: 90%;
    margin: 20px auto;

    &__field {
      position: relative;

      .label {}

      .input-default {
        width: 600px;
        height: 38px;
        // padding: 10px 16px 4px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 10px;
        margin-top: 5px;
      }

      &__photo {
        height: 100px;

        .fa-image {
          position: absolute;
          top: 28%;
          right: 46%;
          font-size: 40px;
          cursor: pointer;
        }
      }

      .textarea {
        height: 300px;
        white-space: pre-wrap;
      }

      .button1 {
        width: 610px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}

.display-none {
  display: none;
}

// 投稿詳細
.post-section {
  max-width: 1130px;
  margin: 245px auto 76px 320px;
  text-align: center;
  box-shadow: 0 2px 19px 0px black;
  height: 700px;
}

.post1 {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  margin: -1px auto 0;
  height: 100%;

  &__image {
    width: 50%;
  }

  &__content {
    margin: 10px;
    width: 50%;
    position: relative;

    .post-user {
      border-bottom: 1px groove rgb(245, 245, 245);
      display: flex;
      margin-left: 20px;

      .userimage {
        margin: 10px;
        border: 1px groove #ccc;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }

      &__name {
        line-height: 2.3;
        font-size: 30px;
        margin-left: 10px;
      }

      &__cd {
        line-height: 5;
        font-size: 15px;
        margin-left: 30px;
      }
    }

    .post-t {
      font-family: "Cormorant Garamond", serif;
      font-size: 50px;
      font-weight: 300;
      line-height: 60px;
      margin: 10px 0;
    }

    .post-b {
      height: 40%;
      overflow: scroll;
    }

    .post-time {
      margin-top: 20px;
      font-size: 10px;
      color: #ccc;
    }

    .co {
      height: 200px;
      border: 1px solid #ccc;
      margin-left: 10px;

      .comments {
        height: 150px;
        overflow: scroll;

        .comment {
          text-align: left;
          margin: 20px 20px;
          display: flex;
          font-size: 14px;

          .commentuserimage {
            border: 1px groove #919191;
            border-radius: 50%;
            width: 30px;
            height: 30px;
          }

          &__user {
            padding: 5px 5px 5px 8px;

            .name {
              font-weight: bold;
            }
          }
        }
      }

      .comment-form {
        border-top: 1px solid #ccc;
        position: relative;
        height: 50px;

        &__input {
          border: none;

          .comment-form__input__field {
            width: 99%;
            height: 49px;
            box-sizing: border-box;
            border: none;
            outline: none;
          }
        }

        &__buttn {
          border: none;
          position: absolute;
          right: 8px;
          top: 18px;

          .comment-submit-buttn {
            border: none;
          }
        }
      }
    }
  }
}


html {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}