<section class="section">
  <h1>>newroom</h1>
  <div class="newroomform">
    <div class="newroomform__filed">
      roomの名前を入力フォーム
      <div class="">
        <div class="">

        </div>
      </div>
    </div>

</section>