//  @import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/posts";
@import "modules/devise";
@import "modules/users";
@import "modules/tags";
@import "modules/home";
@import "modules/flash";
@import "modules/messages";
@import "modules/rooms";

* {
  text-decoration: none;
  color: #3f3f3f;
}

body {
  margin: 0px;
}

.body {
  // display: flex;
}

// フラッシュメッセージ
.Notification {
  margin-top: 103px;

  .notice {
    background-color: #38aef0;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  .alert {
    background-color: #f35500;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    // height: 20px;
    padding: 10px;
  }
}

// サイドのリンクアイコン
.asid {
  height: 100vh;
  width: 100px;
  position: fixed;
  z-index: 2;
  top: 0px;
  opacity: 0.8;
  text-align: center;

  .links {
    font-family: "Quicksand", sans-serif;
    // writing-mode: vertical-rl;
    font-weight: bold;
    margin: 200px auto 100px;
    // text-align: center;
    transform: rotate(-90deg);
    padding-top: 42px;
  }
}

.icons {
  font-size: 20px;
  color: #5f5f5f;
  margin: 100px 10px;

  li {
    margin-top: 70px;
    list-style: none;

    i {
      transition: background-color 0.5s ease 0s;

      &:hover {
        color: pink;
      }
    }
  }
}

// ヘッダー
.header {
  background-image: url("img_4453.jpeg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 4px 10px 2px #3f3f3f;

  .title {
    // font-family: "Snell Roundhand", "Trattatello", "Helvetica Neue", "Helvetica",
    //   "Arial", "ＭＳ ゴシック", "Andale Mono", "Athelas", "Avenir",
    //   "Baskerville", "HoeflerText-Regular", "Hoefler Text", sans-serif;
    // font-family: "Courier New", Courier, monospace;
    // font-family: "Cormorant Garamond", serif;
    font-family: "Kaiti TC", sans-serif;

    font-size: 50px;
    margin-left: 50px;
    color: #333e48;
  }

  .input {
    width: 300px;
    height: 30px;
  }

  .menu {
    display: flex;
    margin: 0 20px;

    &__list {
      margin-left: 10px;
      font-size: 12px;
      list-style: none;
      text-align: center;
      padding: 10px;
      transition: 0.5s;
      position: relative;
      display: inline-block;
      overflow: hidden;

      &:hover {
        background-color: #cecece80;
      }

      &__en {
        color: #333e48;
        font-family: "Kaiti TC", sans-serif;
        font-size: 20px;
      }
      &__ja {
        &:hover {
          background-color: #cecece80;
        }
      }
    }
  }
}

li {
  list-style: none;
}
